:root {
    --primary: #a0d2eb;
    --primary-hover: #89c3e6;
    --primary-focus: rgba(160, 210, 235, 0.125);
    --primary-inverse: #fff;
}

body {
    background-color: #f0f8ff;
}

.container {
    padding-top: 1rem;
}

/* Typography */
h1.main-title {
    color: #00008B;
    margin: 0;
}

.paper-title {
    color: #041c26;
}

.paper-abstract {
    color: #162b34;
}

/* Layout */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.search-container {
    flex-grow: 1;
    margin-right: 1rem;
}

.filter-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-self: flex-end;
}

.paper-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

/* Cards */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem;
    padding-top: 2.5rem;
    margin-bottom: 1rem;
    color: #11191f;
    display: flex;
    flex-direction: column;
}

.card .paper-title,
.card .paper-abstract {
    flex-grow: 1; /* Allow title and abstract to expand and fill available space */
}

.card .card-bottom {
    align-self: flex-end; /* Align buttons to the bottom of the card */
}

.card-bottom {
    display: flex;
    gap: 10px; /* Add some space between buttons */
    align-items: center; /* Vertically center buttons */
    margin-top: auto; /* Push buttons to the bottom of the card */
}

.paper-state {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
}

.to-be-read {
    background-color: #ffa500;
}

.read {
    background-color: #4CAF50;
}

/* Forms */
.search-form,
.add-form {
    display: flex;
    gap: 10px;
    align-items: stretch;
    margin-bottom: 1rem;
    width: 100%;
}

.add-form {
    margin-top: -0.5rem;
}

.search-form input[type="search"],
.add-form input[type="search"],
.search-form input,
.add-form input {
    flex-grow: 1;
    border-radius: 10px;
    padding: 8px 15px 8px 35px;
    background-position: 10px center;
}

.search-form button,
.add-form button {
    flex-shrink: 0;
    min-width: 80px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.remove-button,
.toggle-state-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.remove-button {
    background-color: #ff6b6b;
}

.toggle-state-button {
    background-color: #4CAF50;
}

.clear-button {
    background-color: #7ba9c2;
}

/* Toggle Buttons */
.toggle-buttons {
    display: flex;
    gap: 10px;
}